nav a:hover {
  color: white;
}

nav a {
  color: white;
}

.body-background {
  color: white;
  background-color: black;
}

.main-page-name {
  margin-right: 8%;
  margin-left: 0%;
}

.main-page-nav {
  text-align: left;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
